In [16]:
import pandas as pd
import numpy as np

In [20]:
dma_path = f"Resources/BR _ Revlimid - HCP - DMA.xlsx"
dma_df = pd.read_excel(dma_path)

dma_df.fillna("None", inplace=True)
dma_df.drop(columns=["Row Type","Avg pos"], inplace=True)
dma_df
#dma_df.describe()

,DMA Region name,DMA region ID,Cost,Clicks,Weighted actions,Cost/wt action,Impr,CTR,Avg CPC
0,"St. Louis, MO",200609,949.55,202,361,2.63033,1849,0.109248,4.70074
1,"Detroit, MI",200505,1373.51,291,453,3.03203,2624,0.110899,4.71997
2,"Davenport,IA-Rock Island-Moline,IL",200682,170.37,35,62,2.7479,260,0.134615,4.86771
3,"Harrisonburg, VA",200569,66.26,14,37,1.79081,87,0.160920,4.73286
4,"Toledo, OH",200547,211.85,46,65,3.25923,440,0.104545,4.60543
...,...,...,...,...,...,...,...,...,...
206,"Louisville, KY",200529,372.95,85,168,2.21994,937,0.090715,4.38765
207,"Ft. Wayne, IN",200509,101.83,19,29,3.51138,188,0.101064,5.35947
208,"Albuquerque-Santa Fe, NM",200790,318.71,66,119,2.67823,683,0.096633,4.82894
209,"Springfield-Holyoke, MA",200543,52.59,11,18,2.92167,261,0.042146,4.78091
210,"Fargo-Valley City, ND",200724,128.92,28,33,3.90667,211,0.132701,4.60429